<.header>
  New Meli
  <:subtitle>Use this form to manage meli records in your database.</:subtitle>
</.header>

<.meli_form changeset={@changeset} action={~p"/melis"} />

<.back navigate={~p"/melis"}>Back to melis</.back>
